@page "/home"

@using Syncfusion.Blazor.Inputs
@* <div class="container-fluid c1">


</div> *@

<div>

    <SfTextBox Placeholder="Party Name:" FloatLabelType="@FloatLabelType.Always"></SfTextBox>
    <SfTextBox Placeholder="Conatct Perosn:" FloatLabelType="@FloatLabelType.Always"></SfTextBox>
    <SfTextBox Placeholder="Mobile Number:" FloatLabelType="@FloatLabelType.Always"></SfTextBox>
    <SfTextBox Placeholder="Email:" FloatLabelType="@FloatLabelType.Always"></SfTextBox>
    



</div>


@code{ 
   
} 